<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserinfoDAO">

	<insert id="reg" parameterType="Userinfo">
		insert into userinfo values(null,#{name},#{pwd})
	</insert>
	
	<select id="check" resultType="Userinfo" parameterType="String">
		select id,name,pwd from userinfo where name=#{name}
	</select>


</mapper>

